.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-row {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.post-tags a {
    margin-right: 0.5rem;
    font-size: 0.9em;
    text-decoration: none;
    color: #555;
}

code {
    font-family: "Berkeley Mono", monospace;
}

p>code,
li>code,
dd>code,
td>code {
    background: #ffeff0;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}