/***********************************************************
************************** Website *************************
***********************************************************/

/**************
********* Colours
**************/

:root {
    /** Base colors */
    --clr-dark-a0: #1F1E1C;
    --clr-light-a0: #fffcf5;

    /** Theme primary colors */
    --clr-primary-a0: #c90022;
    --clr-primary-a10: #c4282c;
    --clr-primary-a20: #be3b36;
    --clr-primary-a30: #b74940;
    --clr-primary-a40: #b0544a;
    --clr-primary-a50: #a95e55;

    /** Theme surface colors */
    --clr-surface-a0: #f5f5f5;
    --clr-surface-a10: #e7e7e7;
    --clr-surface-a20: #dadada;
    --clr-surface-a30: #cccccc;
    --clr-surface-a40: #bfbfbf;
    --clr-surface-a50: #b2b2b2;
}

:root[data-theme="dark"] {
    /** Base colors */
    --clr-dark-a0: #cecdcb;
    --clr-light-a0: #1F1E1C;

    /** Theme primary colors */
    --clr-primary-a0: #82c1ff;
    --clr-primary-a10: #92c8ff;
    --clr-primary-a20: #a1ceff;
    --clr-primary-a30: #b0d5ff;
    --clr-primary-a40: #bedcff;
    --clr-primary-a50: #cbe3ff;

    /** Theme surface colors */
    --clr-surface-a0: #1f1e1c;
    --clr-surface-a10: #343331;
    --clr-surface-a20: #4a4947;
    --clr-surface-a30: #61605f;
    --clr-surface-a40: #797977;
    --clr-surface-a50: #939291;
}

/**************
********* Elements
**************/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4em;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: var(--clr-surface-a0);
    color: var(--clr-dark-a0)
}

/* This wraps your whole page content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

/***********************************************************
********************** Navigation Bar **********************
***********************************************************/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-dark-a0);
}

.push {
    margin-left: auto;
}

.navbar a {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-surface-a0);
    font-size: x-large;
}

.navbar a:hover {
    background-color: var(--clr-surface-a0);
    color: var(--clr-dark-a0);
}

.navbar #theme-switch {
    padding: 0.25rem 0.5rem;
    background-color: var(--clr-dark-a0);
    border-style: none;
    stroke: var(--clr-surface-a0);
    fill: var(--clr-surface-a0);
}

.navbar #theme-switch:hover {
    background-color: var(--clr-surface-a0);
    stroke: var(--clr-dark-a0);
    fill: var(--clr-dark-a0);
}

@media (min-width: 601px) { 
    .navbar a {
        padding: 0.5rem 1rem;
    }
    
    .navbar #theme-switch {
        padding: 0.5rem 1rem;
    }
}



/***********************************************************
********************** Post Summaries **********************
***********************************************************/

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.post-row {
    display: grid;
    grid-template-columns: 120px 1fr max-content;
    gap: 1rem;
    align-items: start;
}

.post-date {
    font-family: 'Berkeley Mono', Courier, monospace;
    font-size: 1.2rem;
}

/**************
********* Post Title
**************/

.post-title a {
    color: var(--clr-dark-a0);
    font-size: 1.2rem;
    text-decoration: dashed underline;
}

.post-title a:hover {
    color: var(--clr-primary-a0);
}

/**************
********* Post Tags
**************/

.post-tags {
    display: none:
}

@media (min-width: 601px) {
    .post-tags a {
        font-size: 0.9em;
        text-decoration: dotted underline;
        color: var(--clr-dark-a0-subtle)
    }

    .post-tags a:hover {
        color: var(--clr-dark-a0)
    }
}
/***********************************************************
************************** Tables **************************
***********************************************************/

table {
    border-collapse: collapse;
    /* Ensures borders don't double up */
    width: 100%;
    margin-bottom: 1rem;
}

th,
td {
    border: 0.15em solid var(--clr-dark-a0);
    /* Adds the actual outline */
    padding: 0.5rem;
    text-align: left;
}

td {
    background-color: var(--clr-surface-a10);
}

th {
    background-color: var(--clr-surface-a30);
}


/***********************************************************
************************ Code Blocks ***********************
***********************************************************/

p.filename {
    font-family: "Berkeley Mono", monospace;
    color: var(--clr-dark-a0-subtle);
    margin: 0;
}

pre {
    padding: 1rem;
    background-color: var(--clr-light-a0);
}

code {
    font-family: "Berkeley Mono", monospace;
}

pre,
code {
    white-space: pre-wrap;
    /* allow wrapping */
    word-break: break-word;
    /* break long words */
    overflow-wrap: anywhere;
    /* fallback for older browsers */
    tab-size: 4;
    /* preserve tab width */
    -moz-tab-size: 4;
    /* Firefox support */
}

pre code span {
    white-space: pre-wrap;
}



p>code,
li>code,
dd>code,
td>code {
    background-color: var(--clr-surface-a20);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding-left: .1rem;
    padding-right: .1rem;
    border-radius: .2rem;
}


/***********************************************************
************************ Blockquote ************************
***********************************************************/

blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-left: 0.2em solid var(--clr-primary-a0);
    background-color: var(--clr-surface-a10);
}


/***********************************************************
******************* Other Posts in Series ******************
***********************************************************/

.other-posts-in-series {
    padding: 1em;
    background-color: var(--clr-surface-a10);
}

/***********************************************************
*************************** Links **************************
***********************************************************/

a {
    color: var(--clr-dark-a0-subtle);
}

a:hover {
    color: var(--clr-primary-a0);
}

/***********************************************************
******************* Floating Side Content ******************
***********************************************************/

/* Sidenote default (mobile first) */
.sidenote {
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding-left: 0;
    text-align: left;
    float: none;
    clear: both;
}

/* Table of contents default (mobile first) */
#TableOfContents {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    max-height: none;
    overflow: visible;
}


/* Large screen layout */
@media (min-width: 1400px) {
    .sidenote {
        float: left;
        clear: left;
        margin-left: -23vw;
        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }

    #TableOfContents {
        position: fixed;
        right: 4%;
        top: 150px;
        width: 250px;
        overflow-y: auto;
        max-height: 85%;
        margin-bottom: 0;
    }

}