/***********************************************************
************************** Website *************************
***********************************************************/

/**************
********* Colours
**************/

:root {
    --white: #ffffff;
    --stone: #f6f5f5;
    --light-grey: #d3d0ce;
    --grey: #746d66;
    --black: #1F1E1C;
    --red: #CA0020;
}

/**************
********* Elements
**************/

body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: var(--stone);
}

/* This wraps your whole page content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

/***********************************************************
********************** Navigation Bar **********************
***********************************************************/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}

.nav-left a,
.nav-right a {
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--stone);
    font-size: x-large;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
}

.nav-left a:hover,
.nav-right a:hover {
    background-color: var(--stone);
    color: var(--black);
}


/***********************************************************
********************** Post Summaries **********************
***********************************************************/

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.post-row {
    display: grid;
    grid-template-columns: 120px 1fr max-content;
    gap: 1rem;
    align-items: center;
}

.post-date {
    font-family: 'Berkeley Mono', Courier, monospace;
    font-size: 1.2rem;
}

/**************
********* Post Title
**************/

.post-title a {
    color: var(--black);
    font-size: 1.2rem;
    text-decoration: dashed underline;
}

.post-title a:hover {
    color: var(--red);
}

/**************
********* Post Tags
**************/

.post-tags a {
    font-size: 0.9em;
    text-decoration: dotted underline;
    color: var(--grey)
}

.post-tags a:hover {
    color: var(--black)
}

/***********************************************************
************************** Tables **************************
***********************************************************/

table {
    border-collapse: collapse;
    /* Ensures borders don't double up */
    width: 100%;
    margin-bottom: 1rem;
}

th,
td {
    border: 1px solid var(--grey);
    /* Adds the actual outline */
    padding: 0.5rem;
    text-align: left;
}

td {
    background-color: var(--white);
}

th {
    background-color: var(--light-grey);
}


/***********************************************************
************************ Code Blocks ***********************
***********************************************************/

p.filename {
    font-family: "Berkeley Mono", monospace;
    color: var(--grey);
    margin: 0;
}

pre {
    padding: 1rem;
    background-color: var(--white);
}

code {
    font-family: "Berkeley Mono", monospace;
}

p>code,
li>code,
dd>code,
td>code {
    background-color: var(--light-grey);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding-left: .1rem;
    padding-right: .1rem;
    border-radius: .2rem;
}

/***********************************************************
*************************** Links **************************
***********************************************************/

a {
    color: var(--grey);
}

a:hover {
    color: var(--red);
}

/***********************************************************
******************* Floating Side Content ******************
***********************************************************/

/* Sidenote default (mobile first) */
.sidenote {
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding-left: 0;
    text-align: left;
    float: none;
    clear: both;
}

/* Table of contents default (mobile first) */
#TableOfContents {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    max-height: none;
    overflow: visible;
}


/* Large screen layout */
@media (min-width: 1400px) {
    .sidenote {
        float: left;
        clear: left;
        margin-left: -23vw;
        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
    
    #TableOfContents {
        position: fixed;
        right: 4%;
        top: 150px;
        width: 250px;
        overflow-y: auto;
        max-height: 85%;
        margin-bottom: 0;
    }

}