/***********************************************************
************************** Website *************************
***********************************************************/

/**************
********* Colours
**************/

:root {
    --white: #ffffff;
    --stone: #f6f5f5;
    --light-grey: #d3d0ce;
    --grey: #746d66;
    --black: #1F1E1C;
    --red: #CA0020;
}

/**************
********* Elements
**************/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: var(--stone);
}

/* This wraps your whole page content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

/***********************************************************
********************** Navigation Bar **********************
***********************************************************/

.navbar {
    background-color: var(--black);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    display: block;
}

.navbar a {
    display: block;             /* Makes the entire area clickable */
    padding: 0.5rem 1rem;       /* Adds space around the link */
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: var(--stone);     /* Change entire box color on hover */
    color: var(--black)
}


/***********************************************************
********************** Post Summaries **********************
***********************************************************/

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.post-row {
    display: grid;
    grid-template-columns: 120px 1fr max-content;
    gap: 1rem;
    align-items: center;
}

.post-date {
    font-family: 'Berkeley Mono', Courier, monospace;
    font-size: 1.2rem;
}

/**************
********* Post Title
**************/

.post-title a {
    color: var(--black);
    font-size: 1.2rem;
}

.post-title a:hover {
    color: var(--red);
}

/**************
********* Post Tags
**************/

.post-tags a {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--grey)
}

.post-tags a:hover {
    color: var(--black)
}

/***********************************************************
************************** Tables **************************
***********************************************************/

table {
    border-collapse: collapse; /* Ensures borders don't double up */
    width: 100%;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid var(--grey);    /* Adds the actual outline */
    padding: 0.5rem;
    text-align: left;
}
td {
    background-color: var(--white);
}

th {
    background-color: var(--light-grey);
}


/***********************************************************
************************ Code Blocks ***********************
***********************************************************/

pre {
    padding: 1rem;
}

code {
    font-family: "Berkeley Mono", monospace;
}

p>code,
li>code,
dd>code,
td>code {
    background-color: var(--light-grey);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding-left: .1rem;
    padding-right: .1rem;
    border-radius: .2rem;
}