<!DOCTYPE html>
<html lang="en" charset="utf-8">

<head>
    <meta charset="UTF-8">
    <script src="/js/theme_switch.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link id="light-syntax" rel="stylesheet" href="/css/syntax-light.css" disabled>
    <link id="dark-syntax" rel="stylesheet" href="/css/syntax-dark.css" disabled>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <title>Julian Ferrone - {{ .Title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {{ partial "opengraph.html" . }}
</head>

<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a class="push" href="/posts/">Posts</a>
        <a href="/tags/">Tags</a>
        <a href="/about">About</a>
        <button id="theme-switch" aria-label="Toggle Theme">
            <svg id="theme-icon" width="24" height="24">
                <use id="theme-icon-use" href="/img/icons.svg#sun" />
            </svg>
        </button>
    </nav>
    <div class="container">
        <h1> {{ .Title }} </h1>
        {{ block "main" . }}
        {{ end }}
    </div>
</body>

</html>