<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="/js/theme_switch.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <title>Julian Ferrone - {{ .Title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ partial "opengraph.html" . }}
</head>

<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <span>·</span>
        <a href="/posts/">Posts</a> 
        <span>·</span>
        <a href="/tags/">Tags</a> 
        <span>·</span>
        <a href="/portfolio">Portfolio</a>
        <span>·</span>
        <a href="/about">About</a>
        <span>·</span>
        <button class="responsive-svg" id="theme-switch" aria-label="Toggle Theme">
            <svg width="16" height="16" viewbox="0 0 24 24">
                <use id="theme-icon-use" href="/img/icons.svg#sun" />
            </svg>
        </button>
    </nav>
    <section class="title-page">
        <h1> {{ .Title }} </h1>
        <div class="author">{{ .Site.Params.author.name }}</div>
        <div class="divider">❦</div>
        {{ if (and .IsPage .Params.summary) }}
        <div class="summary">
        {{ .Summary }}
        </div>
        {{ end }}
        {{ if (not .IsPage) }}
        <div class="summary">
        {{ .Content }}
        </div>
        {{ end }}
        {{ if eq .Type "posts" }}
        <div class="imprint">
        Published: {{ .PublishDate | time.Format ":date_long" }}
        </div>
        {{ end }}
    </section>
    <div class="content">
        {{ block "main" . }}
        {{ end }}
    </div>
</body>

</html>
