{{ define "main" }}
<div class="home">
    <h1> {{ .Title }} </h1>
    {{ .Content }}
    <h2>Recent Posts</h2>
    <table class="posts">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        {{ $posts := first 5 (sort (where .Site.RegularPages "Section" "posts") "PublishDate" "desc") }}
        {{ range $posts }}
        {{ .Render "post_row"}}
        {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
