<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>

<body>
    <h1>{{ .Title }}</h1>
    <ul>
        {{ range .Pages }}
        <li>
            <p>{{ .Date.Format "2006-01-02" }}</p>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <ul>
                {{ range .Params.tags }}
                {{ $href := add "../tags#" . }}
                <li>
                    <a href="{{ $href }}">{{ . }}</a>
                </li>
                {{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>
</body>

</html>