{{- $datetime := .PublishDate.Format "2006-01-02" -}}
<tr class="post">
    <td class="date">
        <time datetime="{{ $datetime }}">{{ $datetime }}</time>
    </td>
    <td class="title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </td>
    <td class="tags">
        <ul>
            {{- if .Params.tags -}}
            {{- range sort .Params.tags -}}
            {{- $href := add "../tags#" . -}}
            <li class="tag"><a href="{{ $href }}">{{ . }}</a></li>
            {{- end -}}
            {{- end -}}
        </ul>
    </td>
</tr>
