{{ define "main" }}
<article class="layouts/_default/single.html">
    <section class="title-page">
        <h1> {{ .Title }} </h1>
        <div class="author">{{ .Site.Params.author.name }}</div>
        <div class="divider">❦</div>
        <div class="summary">
        {{ .Summary }}
        </div>
        <div class="imprint">
        Published: {{ .PublishDate | time.Format ":date_long" }}
        </div>
    </section>
    <section class="preface">
        {{ $series := .Params.Series }}
        {{ if $series }}
        {{ $series_posts := sort (index .Site.Taxonomies.series $series) "PublishDate" "asc"}}
        {{ if gt ($series_posts | len) 1}}
        <div id="series">
            <h2>In This Series</h2>
            <ol>
                {{ range $series_posts }}
                {{ .Render "series_row" }}
                {{ end }}
            </ol>
        </div>
        {{ end }}
        {{ end }}
        <div id="contents">
            <h2>Contents</h2>
            {{ .TableOfContents }}
        </div>
    </section>
    {{ .Content }}
    {{ partial "comments.html" . }}
</article>
{{ end }}
