{{ define "main" }}
<div class="home">
    <h1> {{ .Title }} </h1>
    {{ $taxonomy := .Site.Taxonomies.tags }}
    <nav>
        <ul>
            {{ range $tag, $_ := $taxonomy }}
            {{ $href := add "/tags#" $tag }}
            <li>
                <a href="{{ $href }}">{{ $tag }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    {{ range $tag, $pages := $taxonomy }}
    <section class="tag">
        <h2 id="{{ $tag | urlize }}">{{ $tag }}</h2>
        <table class="posts">
            <tbody>
            {{ range sort $pages "PublishDate" "desc" }}
            {{- $datetime := .PublishDate.Format "2006-01-02" -}}
            <tr class="post">
                <td class="date">
                    <time datetime="{{ $datetime }}">{{ $datetime }}</time>
                </td>
                <td class="title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </section>
    {{ end }}
</div>
{{ end }}
