{{ define "main" }}
<div layout="layout/_default/tags.html">
    {{ $taxonomy := .Site.Taxonomies.tags }}
    <nav>
        <ul>
            {{ range $tag, $_ := $taxonomy }}
            {{ $href := add "/tags#" $tag }}
            <li>
                <a href="{{ $href }}">{{ $tag }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    {{ range $tag, $pages := $taxonomy }}
    <h2 id="{{ $tag | urlize }}">{{ $tag }}</h2>
    <div class="posts">
        {{ range sort $pages "PublishDate" "desc" }}
        {{.Render "post_row" }}
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}