name: scp files
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install hugo
        run: sudo apt install -y hugo
      - name: Generate static site
        run: hugo
      - name: Copy files via SSH to VPS
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          source: "public/*"
          target: "/var/www/julianferrone.com"
